<div class="modal-container" >
<div class="modal-top">
    <h1 mat-dialog-title><b>Vacancy creation form</b></h1>
    <button mat-icon-button aria-label="Close" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
</button>
</div>
<h2><b>Main info</b></h2>
<div mat-dialog-content>
    <form class="form-container" [formGroup]="vacancyForm" (ngSubmit)="createVacancy()">
        <mat-label>Title</mat-label>
        <mat-form-field appearance="fill" [ngClass]="(vacancyFormControl.title.touched || submitted) && vacancyFormControl.title.invalid ? 'invalid-input' : ''">
            <input matInput type="text" autocomplete="off" formControlName="title" placeholder="Enter title">
            <mat-error *ngIf="(vacancyFormControl.title.touched || submitted) && vacancyFormControl.title.errors?.required">
                This field shouldn't be empty
            </mat-error>    
        </mat-form-field>
        <mat-label>Description vacancy</mat-label>
        <mat-form-field appearance="fill" [ngClass]="(vacancyFormControl.description.touched || submitted) && vacancyFormControl.description.invalid ? 'invalid-input' : ''">
            <textarea matInput type="text" autocomplete="off" formControlName="description" placeholder="Enter text"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="12"
            cdkAutosizeMaxRows="12"></textarea>
            <mat-error *ngIf="(vacancyFormControl.description.touched || submitted) && vacancyFormControl.description.errors?.required">
                This field shouldn't be empty
            </mat-error>
        </mat-form-field>
        <mat-label>Requirements</mat-label>
        <mat-form-field appearance="fill" [ngClass]="(vacancyFormControl.requirements.touched || submitted) && vacancyFormControl.requirements.invalid ? 'invalid-input' : ''">
            <textarea matInput type="text" autocomplete="off" formControlName="requirements" placeholder="Enter text"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="12"
            cdkAutosizeMaxRows="12"></textarea>
            <mat-error *ngIf="(vacancyFormControl.requirements.touched || submitted) && vacancyFormControl.requirements.errors?.required">
                This field shouldn't be empty
            </mat-error>
        </mat-form-field>
            <mat-label>Project</mat-label>
        <mat-form-field appearance="fill" [ngClass]="(vacancyFormControl.projectId.touched || submitted) && vacancyFormControl.projectId.invalid ? 'invalid-input' : ''">
            
              <mat-select>
                <input matInput class="search-input" type="text" autocomplete="off" placeholder="Search project..." (keyup)="onKey($event)">
               <mat-option>None</mat-option>
               <mat-option *ngFor="let project of selectedProjects" [value]="project">{{project.name}}</mat-option>
             </mat-select>
            <mat-error *ngIf="(vacancyFormControl.projectId.touched || submitted) && vacancyFormControl.projectId.errors?.required">
                This field shouldn't be empty
            </mat-error>
          </mat-form-field>
          <div class="input-rows">
            <div class="form-container">
                <mat-label>Salary range</mat-label>
                <div class="range-rows">
                <mat-form-field appearance="fill" [ngClass]="(vacancyFormControl.salaryFrom.touched || submitted) && vacancyFormControl.salaryFrom.invalid ? 'invalid-input' : ''">
                    <input matInput type="text" autocomplete="off" formControlName="salaryFrom" placeholder="from">
                    <mat-error *ngIf="(vacancyFormControl.salaryFrom.touched || submitted) && vacancyFormControl.salaryFrom.errors?.required">
                        This field is required
                    </mat-error>
                
                </mat-form-field>
                <div class="center">
                    <h1>-</h1>
                    </div>
                <mat-form-field appearance="fill" [ngClass]="(vacancyFormControl.salaryTo.touched || submitted) && (vacancyFormControl.salaryTo.invalid || vacancyForm.errors?.salaryRangeIsWrong) ? 'invalid-input' : ''">
                    <input matInput type="text" autocomplete="off" formControlName="salaryTo" placeholder="to">
                     <mat-error *ngIf="(vacancyFormControl.salaryTo.touched || submitted) && this.vacancyForm.errors?.salaryRangeIsWrong">
                        The first value of salary should be less
                    </mat-error>
                    <mat-error *ngIf="(vacancyFormControl.salaryTo.touched || submitted) && vacancyFormControl.salaryTo.errors?.required">
                        This field is required
                    </mat-error>
                   
                </mat-form-field>
                </div>
                
            </div>
            <div class="form-container">
                <mat-label>Tier range</mat-label>
                <div class="range-rows">
                <mat-form-field appearance="fill" [ngClass]="(vacancyFormControl.tierFrom.touched || submitted) && vacancyFormControl.tierFrom.invalid ? 'invalid-input' : ''">
                <input matInput type="text" autocomplete="off" formControlName="tierFrom" placeholder="from">
                <mat-error *ngIf="(vacancyFormControl.tierFrom.touched || submitted) && vacancyFormControl.tierFrom.errors?.required">
                    This field is required
                </mat-error>
                </mat-form-field>
                <div class="center">
                <h1>-</h1>
                </div>
                <mat-form-field appearance="fill" [ngClass]="(vacancyFormControl.tierTo.touched || submitted) && vacancyFormControl.tierTo.invalid ? 'invalid-input' : ''">
                    <input matInput type="text" autocomplete="off" formControlName="tierTo" placeholder="to">
                    <mat-error *ngIf="(vacancyFormControl.tierTo.touched || submitted) && vacancyFormControl.tierTo.errors?.required">
                        This field is required
                    </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-label>Link to the jobs sites</mat-label>
        <mat-form-field appearance="fill" [ngClass]="(vacancyFormControl.link.touched || submitted) && vacancyFormControl.link.invalid ? 'invalid-input' : ''">
            <input matInput type="text" autocomplete="off" formControlName="link" placeholder="Enter link">
            <mat-error *ngIf="(vacancyFormControl.link.touched || submitted) && vacancyFormControl.link.errors?.required">
                    This field shouldn't be empty
                </mat-error>
        </mat-form-field>
        <!-- <mat-label>Tags</mat-label>
        <mat-form-field appearance="fill">
            <input matInput type="text" autocomplete="off" formControlName="title" placeholder="Enter tags">
        </mat-form-field> -->
        <div class="checkboxes">
            <mat-checkbox formControlName="isHot">Hot vacancy</mat-checkbox>
            <mat-checkbox formControlName="isRemote">Is remote</mat-checkbox>
        </div>
        <h2><b>Workflow</b></h2>
        <div class="stage-list">
            <app-stage></app-stage>
            <app-stage></app-stage>
            <app-stage></app-stage>
            <app-stage></app-stage>
            <button mat-stroked-button class="add-stage-button" (click)="displayCreateStage()">+ Add new stage</button>
        </div>
        <div *ngIf="this.isOpenCreateStage">
                <app-create-stage></app-create-stage>
            </div>
            <button mat-button type="submit" >Publish</button>
            <!-- [disabled]="vacancyForm.invalid -->
    </form>
</div>