<!-- <div class="form-container" >
        <h1 mat-title>Create stage</h1>
        <form [formGroup]="stageForm">
            <mat-label>Stage name</mat-label>
            <mat-form-field appearance="fill">
                <input matInput type="text" autocomplete="off" formControlName="title" placeholder="Enter stage name">
            </mat-form-field>
            <mat-label>Action</mat-label>
        <mat-form-field appearance="fill">
            <mat-select #fontSize placeholder="Select action">
                <!-- (selectionChange)="" -->
              <!-- <mat-option value="action">Add task</mat-option>
              <mat-option value="action">Do something</mat-option>
              <mat-option value="action">Add action</mat-option>
              <mat-option value="action">Create stage</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox formControlName="title">Review required</mat-checkbox>
          <mat-label>Rates</mat-label>
          <mat-form-field appearance="fill">
            <mat-select #fontSize placeholder="Select rates">
                <!-- (selectionChange)="" -->
              <!-- <mat-option value="action">Communicative skills</mat-option>
              <mat-option value="action">English</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <div class="buttons">
            <app-button mat-raised-button >Save</app-button>
            <button mat-button class="mat-accent" >Save and add another</button>
            <button mat-button class="mat-accent" >Cancel</button>
        </div>
    </div> -->
     -->
     -->
